@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background: rgb(241, 241, 241);
}
.primary-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5rem;
}

h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

textarea {
  margin-left: 2rem;
  width: 500px;
  height: 500px;
  resize: vertical;
  background-color: rgb(230, 230, 230);
}

.nav-container {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 2rem;
}
.nav {
  display: flex;
  gap: 2rem;
}

.logo img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.nav li {
  list-style: none;
}
.nav li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: all 300ms ease-in-out;
}
body {
  background-color: black;
  color: white;
}
.nav li a {
  color: white;
}
.nav li a:hover {
  color: #facc34;
}
li a.active {
  color: #facc34;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.input-container {
  background-color: #facc34;
  width: 8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  border-radius: 25px;
}
input {
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: 300ms ease-in-out;
  text-transform: uppercase;
  font-weight: 900;
  display: block;
  background: transparent;
}

input:hover {
  letter-spacing: 3px;
}

/*  textErea copy value   style  */

.copy {
  position: relative;
  width: 500px;
  height: 500px;
}

.icon {
  position: absolute;
  top: 10px;
  right: 5px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.icon i {
  color: #facc34;
  transition: 300ms ease-in-out;
}
.icon i:hover {
  color: white;
}

.error {
  color: red;
  margin: 2rem;
  font-weight: 900;
}

/* clean icon */

.clean-icon {
  position: absolute;
  top: 80px;
  right: 5px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.clean-icon i {
  color: #facc34;
  transition: 300ms ease-in-out;
}
.clean-icon i:hover {
  color: white;
}

/*        scroll bar css                           */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
}
